<!DOCTYPE html>
<html>
<head>
	{{>headerlinks}}
</head>
<body>
	{{>navbar}}
	<div class="container-fluid ">
		<div class="row my-5 justify-content-center">
			<div class="col-12 col-md-10 text-center">
				<figure>
					<img src="images/404.png" class="img-fluid">
				</figure>
				<p class="fs-5">Welcome to the weather app</p>
				<h1>{{errmsg}}</h1>
				<a href="/" class="btn shadow rounded-pill mt-3" style="background: lightgrey;">GO BACK</a>
			</div>
		</div>
	</div>
	<!-- footer code -->
	{{>footer}}
</body>
</html>