<!DOCTYPE html>
<html>
<head>
	{{>headerlinks}}
</head>
<body>
	{{>navbar}}
	<div class="container-fluid ">
		<div class="row my-5">
			<div class="col-12 col-md-10 mx-auto">
				<div class="row ">
					<!-- left side div -->
					<div class="col-12 col-md-6 ps-5">
						<figure>
							<img src="images/shadow_man.jpg" class="img-fluid">
						</figure>
					</div>
					<!-- right side div -->
					<div class="col-md-6 col-12 d-flex flex-column justify-content-center pt-3 ">
						<p class="fs-5">Welcome to weather app</p>
						<h3>I am a <a class="text-info nav-link d-inline" href="/weather">MERN Stack Developer</a> Youtuber and Freelancer.</h3>
						<a href="/weather" class="btn shadow rounded-pill w-25 mt-3">About me</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer code -->
	{{>footer}}
</body>
</html>